<style>
@import url('https://fonts.googleapis.com/css?family=Griffy|Lobster+Two:700');
</style>

body {
    margin: 0;
    padding: 0;
}

.shadow {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(2px 2px 1px rgba(127,127,127,0.9));
    filter: drop-shadow(2px 2px 1px rgba(127,127,127,0.9));
}

.header {
    display: flex;
    background-color: #eef;
    top: 0;
    left: 0;
    padding: 8px;
    margin: -8px;
    margin-bottom: 8px;
    font-size: 100%;
    min-width: 300px;
}

.header h1 {
    font-family: 'Lobster Two', cursive;
    text-shadow: 2px 2px 2px gray;
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
    margin: 0;
    margin-left: 4px;
} 

.toolbarBtn {
    width:15px;
    height:15px;
    cursor: pointer;
    opacity: 0.5;
}

.toolbarBtn:disabled {
    opacity: 0.25;
    cursor: not-allowed;
}

#closeBtn {
    right: 4px;
    position: absolute;
    display: inline-block;
    top: 4px;
}

.btn img:hover, .toolbarBtn:not(:disabled):hover, #sampleBtn:hover {
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(2px 2px 1px rgba(127,127,127,0.9));
    filter: drop-shadow(2px 2px 1px rgba(127,127,127,0.9));
}

.roundBorder {
    border: gray 1px solid;
    border-radius: 5px;
    padding: 4px;
    margin-top: 4px;
}

#toolbar {
    position:absolute;
    right:8px;
    top:29px;
    background: rgba(255,255,255,0.5);
    -webkit-filter: drop-shadow(0px 0px 4px aliceblue);
    padding: 1px 3px 0px 3px;
    border-style: solid;
}

#help {
    font-family: Griffy, cursive;
    padding: 0 4px;
}

#help h2 {
    font-weight: bold;
    font-size: 14px;
    -webkit-margin-before: 4px;
    -webkit-margin-after: 4px;
}

#help p {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 4px;
}

#myLocation {
    margin-bottom: -4px;
}

#location th, #location td {
    width:60px;
    text-align: right;
}