<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Black Ink</title>
    <link href='/inc/css/popup.css' rel='stylesheet'>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/app/app.js"></script>
    <script type="text/javascript" src="/app/ctrl.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> --> 
</head>

<body ng-app='blackInkApp' ng-controller='BlackInkCtrl'>
    <form id='form'>
        <div class='header' role='banner'>
            <img src='/images/logos/32.png' style='width:32px; height:32px;' class='shadow'/>
            <h1>Black Ink</h1>
            <input type="image" class='toolbarBtn' id='closeBtn' alt='Close' title='Close [esc]' src='/images/X.png'>
        </div>
        <div id='toolbar' class='roundBorder shadow'>
            <input type="image" class='toolbarBtn' ng-disabled='UndoDis' id='undoBtn' alt='Undo' title='Undo [^z]' src='/images/undo.png'/>
            <input type="image"  class='toolbarBtn' ng-disabled='RedoDis' id='redoBtn' alt='Redo' title='Redo [^y]' src='/images/redo.png'/>
            <input type="image"  class='toolbarBtn' id='optionsBtn' alt='Help' title='Help & Options' src='/images/help.png' ng-model='showHelp'/>
        </div>
        <div id='help' class='roundBorder'>
            <h2>Enhance text contrast for bad web pages</h2>
            <p>Select your options bellow, then click element to change ink color.</p>
        </div>
        <div id='options' class='roundBorder'>
            <table role='presentation'>
                <tr>
                    <td style="color:{{IncColor}};font-weight:{{TextWeight}};">Color</td>
                    <td>
                        <input type="radio" name="color" ng-model="IncColor" id="clBlack" value="black"/>
                        <label for="clBlack">Black</label>
                    </td>
                    <td>
                        <input type="radio" name="color" ng-model="IncColor" id="clBlue" value="navy"/>
                        <label for="clBlue">Blue</label>
                    </td>
                    <td>
                        <input type="radio" name="color" ng-model="IncColor" id="clRed" value="red"/>
                        <label for="clRed">Red</label>
                    </td>
                </tr>
                <tr>
                    <td style="color:{{IncColor}};font-weight:{{TextWeight}};">Weight</td>
                    <td>
                        <input type="radio" name="weight" ng-model="TextWeight" id="wNone" value=""/>
                        <label for="wNone">Default</label>
                    </td>
                    <td>
                        <input type="radio" name="weight" ng-model="TextWeight" id="wNormal" value="normal"/>
                        <label for="wNormal">Normal</label>
                    </td>
                    <td>
                        <input type="radio" name="weight" ng-model="TextWeight" id="wBold" value="bold"/>
                        <label for="wBold">Bold</label>
                    </td>
                </tr>
            </table>
        </div>
    </form>

    <!-- <script type="text/javascript" src="/app/app.js"></script>
     -->

</body>
 
</html>