<!DOCTYPE html>
<html lang='en' ng-app='mainApp'>

<head>
    <title>Black Ink</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans+Condensed:300" rel="stylesheet">
    <link href='/css/popup.css' rel='stylesheet'>
    <link href='/css/switch.css' rel='stylesheet'>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> --> 
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <script type="text/javascript" src="/js/Modules/storage/storageController.js"></script>
    <script type="text/javascript" src="/js/Modules/storage/storageService.js"></script>
    <script type="text/javascript" src="/js/Modules/storage/storageModule.js"></script>


    <!-- <script type="text/javascript" src="/app/js/BlackInkCtrl.js"></script> -->


    <!-- <script type="text/javascript" src="/js/Modules/googleTabs/controllers.js"></script>
    <script type="text/javascript" src="/js/Modules/sunrise/controllers.js"></script> -->

</head>

<body>
    <form id='form'>
        <div class='header' role='banner'>
            <img src='/images/logos/32.png' style='width:32px; height:32px;' class='shadow'/>
            <h1>Black Ink</h1>
            <input type="image" id='closeBtn' class='toolbarBtn' alt='Close' title='Close [esc]' 
            src='/images/X.png' ng-click='closeExtension()'>
        </div>
        <div id='toolbar' class='roundBorder shadow'>
            <input type="image" class='toolbarBtn' ng-disabled='UndoDis' id='undoBtn' alt='Undo' title='Undo [^z]' src='/images/undo.png'/>
            <input type="image"  class='toolbarBtn' ng-disabled='RedoDis' id='redoBtn' alt='Redo' title='Redo [^y]' src='/images/redo.png'/>
            <input type="image"  class='toolbarBtn' id='optionsBtn' alt='Help' title='{{helpTooltip}}' src='/images/help.png' ng-click='toggleShowHelp()'/>
        </div>
        <div id='help' class='roundBorder' style='display:{{ShowHelp}};'>
            <h2>Enhance text contrast for bad web pages</h2>
            <p>Select your options bellow, then click element to change ink color.</p>
        </div>
        <div id='options' class='roundBorder'>
            <table role='presentation'>
                <tr>
                    <td style="color:{{InkColor}};font-weight:{{TextWeight}};">Color</td>
                    <td>
                        <input type="radio" name="color" id="clBlack" ng-model="InkColor" value="black"/>
                        <label for="clBlack">Black</label>
                    </td>
                    <td>
                        <input type="radio" name="color" id="clBlue" ng-model="InkColor" value="navy"/>
                        <label for="clBlue">Blue</label>
                    </td>
                    <td>
                        <input type="radio" name="color" id="clRed" ng-model="InkColor" value="#b60000"/>
                        <label for="clRed">Red</label>
                    </td>
                </tr>
                <tr>
                    <td style="color:{{InkColor}};font-weight:{{TextWeight}};">Weight</td>
                    <td>
                        <input type="radio" name="weight" id="wNone" ng-model="TextWeight" value=""/>
                        <label for="wNone">Default</label>
                    </td>
                    <td>
                        <input type="radio" name="weight" id="wNormal" ng-model="TextWeight" value="normal"/>
                        <label for="wNormal">Normal</label>
                    </td>
                    <td>
                        <input type="radio" name="weight" id="wBold" ng-model="TextWeight" value="bold"/>
                        <label for="wBold">Bold</label>
                    </td>
                </tr>
            </table>
        </div>
        <div id='auto' class='roundBorder'>
            <table role='presentation' style="width: 100%;">
                <tr>
                    <td style="padding-bottom:6px;">Night mode:</td>
                    <td>
                        <label class="switch {{NightMode}}"><input type="checkbox" checked><i></i></label>
                    </td><td>
                        <input type="radio" name="nightMode" id="nPink" ng-model="NightMode" value="pink"/>
                        <label for="nPink">Pink</label>
                        <!-- </td><td> --> <br/>
                        <input type="radio" name="nightMode" id="nInvert" ng-model="NightMode" value="black"/>
                        <label for="nInvert">Invert</label>
                    </td>
                    <td style="padding-bottom:6px;">Auto:</td>
                    <td>
                        <label class="switch red"><input type="checkbox" ng-model="NightAuto"><i></i></label>
                    </td>
                </tr>
                <tr>
                    <td>Invert:</td>
                    <td>
                        <label class="switch black"><input type="checkbox"><i></i></label>
                    </td>
                    <td colspan='3' style="text-align: end;">
                        <label for='myLocation'>Get My Location</label>
                        <input type="image" id='myLocation' src='/images/MyLocation.16.png' class='toolbarBtn' ng-click='getLocation()'>
                    </td>
                </tr>
            </table>
        </div>
        <div id='location' class='roundBorder' ng-class='{show: ShowLocation,}' style="display:none;" >
            <table id="location">
                <tr>
                    <td>Latitude:</td>
                    <th>{{Latitude | number : 4}}</th>
                </tr>
                <tr>
                    <td>Longitude:</td>
                    <th>{{Longitude | number : 4}}</th>
                </tr>
                <tr>
                    <td>Sunrise:</td>
                    <th>{{Sunrise | date:'h:mm:ss a' | lowercase}}</th>
                </tr>
                <tr>
                    <td>Sunset:</td>
                    <th>{{Sunset | date:'h:mm:ss a' | lowercase}}</th>
                </tr>
            </table>                
        </div>
    </form>

</body>
 
</html>